<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gradle.demo.dao.FactoryDao">

    <sql id="factoryColumns">
        r.id AS "id",
		r.name AS "name",
		r.remark AS "remark"
    </sql>



    <select id="findList" resultType="Factory">
        SELECT
        <include refid="factoryColumns"/>
        FROM t_factory r
        <where>
            <if test="name != null and name != ''">
                AND r.name = #{name}
            </if>
        </where>
    </select>



</mapper>